USE [master]
GO
/****** Object:  Database [Nagios_report]    Script Date: 17/08/2018 10:26:11 a. m. ******/
CREATE DATABASE [Nagios_report]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nagios_report', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.SDMBD\MSSQL\DATA\Nagios_report.mdf' , SIZE = 32570368KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nagios_report_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.SDMBD\MSSQL\DATA\Nagios_report_log.ldf' , SIZE = 2808832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nagios_report].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nagios_report]
GO
USE [Nagios_report]
GO
/****** Object:  Table [dbo].[controlLoading]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[controlLoading](
	[id] [int] NOT NULL,
	[anio] [int] NOT NULL,
	[mes] [varchar](50) NOT NULL,
	[loadingDate] [date] NOT NULL,
	[countRows] [int] NULL,
 CONSTRAINT [PK_controlLoading] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[controlLoadingDay]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[controlLoadingDay](
	[id] [int] NOT NULL,
	[anio] [int] NOT NULL,
	[mes] [varchar](50) NOT NULL,
	[day] [int] NOT NULL,
	[loadingDate] [date] NOT NULL,
	[countRows] [int] NULL,
 CONSTRAINT [PK_controlLoadingDay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_history]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idHostService] [int] NOT NULL,
	[anio] [int] NOT NULL,
	[mes] [varchar](50) NOT NULL,
	[ok] [varchar](max) NOT NULL,
	[warning] [varchar](max) NOT NULL,
	[critical] [varchar](max) NOT NULL,
	[total] [varchar](max) NULL,
	[NODATA] [varchar](max) NOT NULL,
	[DATEPROGRAM] [datetime] NOT NULL,
	[url] [varchar](max) NULL,
 CONSTRAINT [PK_data_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_history_day]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_history_day](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idHostService] [int] NOT NULL,
	[anio] [int] NOT NULL,
	[mes] [varchar](50) NOT NULL,
	[day] [int] NOT NULL,
	[ok] [varchar](max) NOT NULL,
	[warning] [varchar](max) NOT NULL,
	[critical] [varchar](max) NOT NULL,
	[NODATA] [varchar](max) NOT NULL,
	[total] [varchar](max) NULL,
	[DATEPROGRAM] [datetime] NOT NULL,
	[url] [varchar](max) NULL,
 CONSTRAINT [PK_data_history_day] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[host_service]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[host_service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[host] [varchar](1000) NOT NULL,
	[service] [varchar](1000) NOT NULL,
	[app] [varchar](500) NULL,
	[dependecy] [varchar](50) NULL,
	[status] [int] NULL,
	[date_load] [datetime] NULL,
 CONSTRAINT [PK_host_service] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_check]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_check](
	[idhostService] [int] NOT NULL,
	[anio] [int] NOT NULL,
	[mes] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[data_history] ADD  CONSTRAINT [DATA_HISTORYT_NODATA]  DEFAULT ((0)) FOR [NODATA]
GO
ALTER TABLE [dbo].[data_history] ADD  CONSTRAINT [DATA_HISTORYT_DATEPROGRAM]  DEFAULT (getdate()) FOR [DATEPROGRAM]
GO
ALTER TABLE [dbo].[data_history]  WITH CHECK ADD  CONSTRAINT [FK_data_hostService] FOREIGN KEY([idHostService])
REFERENCES [dbo].[host_service] ([id])
GO
ALTER TABLE [dbo].[data_history] CHECK CONSTRAINT [FK_data_hostService]
GO
ALTER TABLE [dbo].[data_history_day]  WITH CHECK ADD  CONSTRAINT [FK_dataDay_hostService] FOREIGN KEY([idHostService])
REFERENCES [dbo].[host_service] ([id])
GO
ALTER TABLE [dbo].[data_history_day] CHECK CONSTRAINT [FK_dataDay_hostService]
GO
ALTER TABLE [dbo].[log_check]  WITH CHECK ADD  CONSTRAINT [FK_log_check_host_service] FOREIGN KEY([idhostService])
REFERENCES [dbo].[host_service] ([id])
GO
ALTER TABLE [dbo].[log_check] CHECK CONSTRAINT [FK_log_check_host_service]
GO
/****** Object:  StoredProcedure [dbo].[NG_INSERT_UPDATE]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		CESAR BEJARANO
-- =============================================

CREATE PROCEDURE [dbo].[NG_INSERT_UPDATE]

	@I_OPERATION			CHAR		,
	@I_OPTION				INT		=0	,
	@I_IDHOST				INT			,
	@I_ANIO					INT			,
	@I_MES					VARCHAR(50) ,
	@I_OK					VARCHAR(MAX),
	@I_WARNING				VARCHAR(MAX),
	@I_CRITICAL				VARCHAR(MAX),
	@I_NODATA				VARCHAR(MAX),
	@I_URL					VARCHAR(MAX)
AS
BEGIN
	DECLARE 
		@V_TOTAL_CALC		INT,
		@V_TOTAL			VARCHAR(MAX),
		@V_TOTAL_ROWS		INT,
		@V_CONSECUTIE		INT,
		@V_EXIST			INT		= 0 ,
		@O_ERR_COD			INT,
		@O_ERR_MSG			VARCHAR(MAX)
		
	BEGIN TRY
		IF @I_OPERATION = 'I'
		BEGIN
			IF @I_OPTION = 1
			BEGIN
				SET @V_TOTAL_CALC = CONVERT(DECIMAL(16,2),@I_OK) + CONVERT(DECIMAL(16,2),@I_WARNING) + CONVERT(DECIMAL(16,2),@I_CRITICAL) + CONVERT(DECIMAL(16,2),@I_NODATA)
				SET @V_TOTAL = CONVERT(VARCHAR(30),ROUND(	  @V_TOTAL_CALC / (24 * 60 * 60)					,2,0)) + ' D '   +
					CONVERT(VARCHAR(30),ROUND(	( @V_TOTAL_CALC % (24 * 60 * 60)) / (60 * 60)		,2,0)) + ' HR '  +
					CONVERT(VARCHAR(30),ROUND(	((@V_TOTAL_CALC % (24 * 60 * 60)) % (60 * 60)) / 60 ,2,0)) + ' MIN ' +
					CONVERT(VARCHAR(30),ROUND(	((@V_TOTAL_CALC % (24 * 60 * 60)) % (60 * 60)) % 60 ,2,0)) + ' SEG'
			
				INSERT INTO [DBO].[DATA_HISTORY]
					([IDHOSTSERVICE],[ANIO],[MES],[OK],[WARNING],[CRITICAL],[TOTAL],[NODATA],[DATEPROGRAM],[url])
				VALUES
					(@I_IDHOST,@I_ANIO,@I_MES,@I_OK,@I_WARNING,@I_CRITICAL,@V_TOTAL,@I_NODATA,GETDATE(),@I_URL)
			END
			IF @I_OPTION = 2
			BEGIN
				SELECT @V_CONSECUTIE = (SELECT COUNT(1) FROM CONTROLLOADING)+1,
						@V_TOTAL_ROWS = (SELECT COUNT(1) FROM DATA_HISTORY WHERE DATA_HISTORY.ANIO=@I_ANIO AND DATA_HISTORY.MES=@I_MES)
				INSERT INTO [DBO].[CONTROLLOADING]
				   ([ID],[ANIO],[MES],[LOADINGDATE],[COUNTROWS])
			 VALUES
				   (@V_CONSECUTIE,@I_ANIO,@I_MES,GETDATE(),@V_TOTAL_ROWS)
			END
			IF @I_OPTION = 3
			BEGIN
				INSERT INTO LOG_CHECK 
				VALUES(@I_IDHOST,@I_ANIO,@I_MES)
			END
		END

		IF @I_OPERATION = 'U'
		BEGIN
			IF @I_OPTION = 1
			BEGIN
				SET @V_TOTAL_CALC = CONVERT(DECIMAL(16,2),@I_OK) + CONVERT(DECIMAL(16,2),@I_WARNING) + CONVERT(DECIMAL(16,2),@I_CRITICAL) + CONVERT(DECIMAL(16,2),@I_NODATA)
				SET @V_TOTAL = CONVERT(VARCHAR(30),ROUND(	  @V_TOTAL_CALC / (24 * 60 * 60)					,2,0)) + ' D '   +
					CONVERT(VARCHAR(30),ROUND(	( @V_TOTAL_CALC % (24 * 60 * 60)) / (60 * 60)		,2,0)) + ' HR '  +
					CONVERT(VARCHAR(30),ROUND(	((@V_TOTAL_CALC % (24 * 60 * 60)) % (60 * 60)) / 60 ,2,0)) + ' MIN ' +
					CONVERT(VARCHAR(30),ROUND(	((@V_TOTAL_CALC % (24 * 60 * 60)) % (60 * 60)) % 60 ,2,0)) + ' SEG'
				
				SELECT @V_EXIST = COUNT(1)
				FROM DATA_HISTORY
				WHERE IDHOSTSERVICE = @I_IDHOST AND ANIO=@I_ANIO AND MES = @I_MES

				IF @V_EXIST = 0
				BEGIN 
					INSERT INTO [DBO].[DATA_HISTORY]
						([IDHOSTSERVICE],[ANIO],[MES],[OK],[WARNING],[CRITICAL],[TOTAL],[NODATA],[DATEPROGRAM],[url])
					VALUES
						(@I_IDHOST,@I_ANIO,@I_MES,@I_OK,@I_WARNING,@I_CRITICAL,@V_TOTAL,@I_NODATA,GETDATE(),@I_URL)
				END
				ELSE
				BEGIN 
					UPDATE DATA_HISTORY SET OK=@I_OK,WARNING=@I_WARNING,CRITICAL=@I_CRITICAL,TOTAL=@V_TOTAL,NODATA=@I_NODATA,DATEPROGRAM=GETDATE(),url=@I_URL 
					WHERE IDHOSTSERVICE = @I_IDHOST AND ANIO=@I_ANIO AND MES = @I_MES
				END
			END
			IF @I_OPTION = 2
			BEGIN 
				SET @V_TOTAL_ROWS = (SELECT COUNT(1) FROM DATA_HISTORY WHERE DATA_HISTORY.ANIO=@I_ANIO AND DATA_HISTORY.MES=@I_MES)
				UPDATE CONTROLLOADING SET LOADINGDATE=GETDATE(),COUNTROWS=@V_TOTAL_ROWS WHERE ANIO=@I_ANIO AND MES=@I_MES
			END
		END
	END TRY
		   BEGIN CATCH

	 EXEC ARANDADB.DBO.EXCEPTION_HANDLER
				   @I_PROCEDURE_OPERATION = 'I',
				   @I_PROCEDURE_OPTION = @I_OPERATION,
				   @I_ERROR_PROCEDURE = 'NG_INSERT',
				   @O_RETURN_NUMBER = @O_ERR_COD OUTPUT,
				   @O_RETURN_MESSAGE = @O_ERR_MSG OUTPUT;
	END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[NG_INSERT_UPDATE_DIARY]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		CESAR BEJARANO
-- =============================================

CREATE PROCEDURE [dbo].[NG_INSERT_UPDATE_DIARY]

	@I_OPERATION			CHAR		,
	@I_OPTION				INT		=0	,
	@I_IDHOST				INT			,
	@I_ANIO					INT			,
	@I_MES					VARCHAR(50) ,
	@I_DAY					INT			,
	@I_OK					VARCHAR(MAX),
	@I_WARNING				VARCHAR(MAX),
	@I_CRITICAL				VARCHAR(MAX),
	@I_NODATA				VARCHAR(MAX),
	@I_URL					VARCHAR(MAX)
AS
BEGIN
	DECLARE 
		@V_TOTAL_CALC		INT,
		@V_TOTAL			VARCHAR(MAX),
		@V_TOTAL_ROWS		INT,
		@V_CONSECUTIE		INT,
		@V_EXIST			INT		= 0 ,
		@O_ERR_COD			INT,
		@O_ERR_MSG			VARCHAR(MAX)
		
	BEGIN TRY
		IF @I_OPERATION = 'I'
		BEGIN
			IF @I_OPTION = 1
			BEGIN
				SET @V_TOTAL_CALC = CONVERT(DECIMAL(16,2),@I_OK) + CONVERT(DECIMAL(16,2),@I_WARNING) + CONVERT(DECIMAL(16,2),@I_CRITICAL) + CONVERT(DECIMAL(16,2),@I_NODATA)
				SET @V_TOTAL = CONVERT(VARCHAR(30),ROUND(	  @V_TOTAL_CALC / (24 * 60 * 60)					,2,0)) + ' D '   +
					CONVERT(VARCHAR(30),ROUND(	( @V_TOTAL_CALC % (24 * 60 * 60)) / (60 * 60)		,2,0)) + ' HR '  +
					CONVERT(VARCHAR(30),ROUND(	((@V_TOTAL_CALC % (24 * 60 * 60)) % (60 * 60)) / 60 ,2,0)) + ' MIN ' +
					CONVERT(VARCHAR(30),ROUND(	((@V_TOTAL_CALC % (24 * 60 * 60)) % (60 * 60)) % 60 ,2,0)) + ' SEG'
			
				INSERT INTO [DBO].[DATA_HISTORY_DAY]
					([IDHOSTSERVICE],[ANIO],[MES],[DAY],[OK],[WARNING],[CRITICAL],[NODATA],[TOTAL],[DATEPROGRAM],[url])
				VALUES
					(@I_IDHOST,@I_ANIO,@I_MES,@I_DAY,@I_OK,@I_WARNING,@I_CRITICAL,@I_NODATA,@V_TOTAL,GETDATE(),@I_URL)
			END
			IF @I_OPTION = 2
			BEGIN
				SELECT @V_CONSECUTIE = (SELECT COUNT(1) FROM [CONTROLLOADINGDAY])+1,
						@V_TOTAL_ROWS = (SELECT COUNT(1) FROM [DATA_HISTORY_DAY] WHERE DATA_HISTORY_DAY.ANIO=@I_ANIO AND DATA_HISTORY_DAY.MES=@I_MES AND DATA_HISTORY_DAY.DAY = @I_DAY)
				INSERT INTO [DBO].[CONTROLLOADINGDAY]
				   ([ID],[ANIO],[MES],[DAY],[LOADINGDATE],[COUNTROWS])
			 VALUES
				   (@V_CONSECUTIE,@I_ANIO,@I_MES,@I_DAY,GETDATE(),@V_TOTAL_ROWS)
			END
		END

		IF @I_OPERATION = 'U'
		BEGIN
			IF @I_OPTION = 1
			BEGIN
				SET @V_TOTAL_CALC = CONVERT(DECIMAL(16,2),@I_OK) + CONVERT(DECIMAL(16,2),@I_WARNING) + CONVERT(DECIMAL(16,2),@I_CRITICAL) + CONVERT(DECIMAL(16,2),@I_NODATA)
				SET @V_TOTAL = CONVERT(VARCHAR(30),ROUND(	  @V_TOTAL_CALC / (24 * 60 * 60)					,2,0)) + ' D '   +
					CONVERT(VARCHAR(30),ROUND(	( @V_TOTAL_CALC % (24 * 60 * 60)) / (60 * 60)		,2,0)) + ' HR '  +
					CONVERT(VARCHAR(30),ROUND(	((@V_TOTAL_CALC % (24 * 60 * 60)) % (60 * 60)) / 60 ,2,0)) + ' MIN ' +
					CONVERT(VARCHAR(30),ROUND(	((@V_TOTAL_CALC % (24 * 60 * 60)) % (60 * 60)) % 60 ,2,0)) + ' SEG'
				
				SELECT @V_EXIST = COUNT(1)
				FROM DATA_HISTORY_DAY
				WHERE IDHOSTSERVICE = @I_IDHOST AND ANIO=@I_ANIO AND MES = @I_MES AND DAY = @I_DAY

				IF @V_EXIST = 0
				BEGIN 
					INSERT INTO [DBO].[DATA_HISTORY_DAY]
						([IDHOSTSERVICE],[ANIO],[MES],[DAY],[OK],[WARNING],[CRITICAL],[NODATA],[TOTAL],[DATEPROGRAM],[url])
					VALUES
						(@I_IDHOST,@I_ANIO,@I_MES,@I_DAY,@I_OK,@I_WARNING,@I_CRITICAL,@I_NODATA,@V_TOTAL,GETDATE(),@I_URL)
				END
				ELSE
				BEGIN 
					UPDATE DATA_HISTORY_DAY SET OK=@I_OK,WARNING=@I_WARNING,CRITICAL=@I_CRITICAL,TOTAL=@V_TOTAL,NODATA=@I_NODATA,DATEPROGRAM=GETDATE(),url=@I_URL
					WHERE IDHOSTSERVICE = @I_IDHOST AND ANIO=@I_ANIO AND MES = @I_MES AND DAY = @I_DAY
				END
			END
			IF @I_OPTION = 2
			BEGIN 
				SET @V_TOTAL_ROWS = (SELECT COUNT(1) FROM [DATA_HISTORY_DAY] WHERE DATA_HISTORY_DAY.ANIO=@I_ANIO AND DATA_HISTORY_DAY.MES=@I_MES AND DATA_HISTORY_DAY.DAY = @I_DAY)
				UPDATE CONTROLLOADINGDAY SET LOADINGDATE=GETDATE(),COUNTROWS=@V_TOTAL_ROWS WHERE ANIO=@I_ANIO AND MES=@I_MES AND DAY = @I_DAY
			END
		END
	END TRY
		   BEGIN CATCH

	 EXEC ARANDADB.DBO.EXCEPTION_HANDLER
				   @I_PROCEDURE_OPERATION = 'I',
				   @I_PROCEDURE_OPTION = @I_OPERATION,
				   @I_ERROR_PROCEDURE = 'NG_INSERT',
				   @O_RETURN_NUMBER = @O_ERR_COD OUTPUT,
				   @O_RETURN_MESSAGE = @O_ERR_MSG OUTPUT;
	END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[NG_SELECT]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		CESAR BEJARANO
-- =============================================

CREATE PROCEDURE [dbo].[NG_SELECT]
	@V_OPERATION			INT		=0	,
	@V_ANIO					INT		=	NULL	,
	@V_MES					VARCHAR(50) = NULL
AS
BEGIN
	IF @V_OPERATION = 1
	BEGIN
		SELECT COUNT(1) TOTAL FROM CONTROLLOADING WHERE CONTROLLOADING.ANIO = @V_ANIO AND CONTROLLOADING.MES = @V_MES
	END
	IF @V_OPERATION = 2
	BEGIN
		SELECT HOST_SERVICE.HOST,HOST_SERVICE.SERVICE,HOST_SERVICE.ID 
		FROM HOST_SERVICE 
		WHERE status = 1 and HOST_SERVICE.ID NOT IN (SELECT IDHOSTSERVICE FROM DATA_HISTORY WHERE ANIO = @V_ANIO AND MES = @V_MES) 
		and host_service.id not in (select log_check.idhostService from log_check where ANIO = @V_ANIO AND MES = @V_MES)
		ORDER BY HOST_SERVICE.ID
	END 
END
GO
/****** Object:  StoredProcedure [dbo].[NG_SELECT_DIARY]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		CESAR BEJARANO
-- =============================================

CREATE PROCEDURE [dbo].[NG_SELECT_DIARY]
	@V_OPERATION			INT		=0	,
	@V_ANIO					INT		=	NULL	,
	@V_MES					VARCHAR(50) = NULL	
AS
BEGIN
	IF @V_OPERATION = 1
	BEGIN
		SELECT COUNT(1) TOTAL FROM CONTROLLOADINGDAY WHERE CONTROLLOADINGDAY.ANIO = @V_ANIO AND CONTROLLOADINGDAY.MES = @V_MES
	END
	IF @V_OPERATION = 2
	BEGIN
		SELECT HOST_SERVICE.HOST,HOST_SERVICE.SERVICE,HOST_SERVICE.ID 
		FROM HOST_SERVICE 
		WHERE status = 1 and HOST_SERVICE.ID NOT IN (SELECT IDHOSTSERVICE FROM DATA_HISTORY_DAY WHERE ANIO = @V_ANIO AND MES = @V_MES) ORDER BY HOST_SERVICE.ID
	END 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_HOST_SERVICE]    Script Date: 17/08/2018 10:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- AUTHOR:		CESAR BEJARANO

CREATE PROCEDURE [dbo].[SP_HOST_SERVICE]
	@I_HOST			VARCHAR(1000)							,
	@I_SERVICE		VARCHAR(1000)							,
	@I_APP			VARCHAR(500)	= 'SIN CATEGORIZAR'		,
	@I_DEPENDECY	VARCHAR(50)		= 'INTERNO'
AS
BEGIN

	INSERT INTO HOST_SERVICE
		(HOST,SERVICE,APP,DEPENDECY,STATUS,DATE_LOAD)
	VALUES
		(@I_HOST,@I_SERVICE,@I_APP,@I_DEPENDECY,1,GETDATE())

END
GO
USE [master]
GO
