body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

header {
    width: 100%;
    height: 80px;
    background-color: #dfdfdf;
}

header>h2 {
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: #dfdfdf;
}

footer>div {
    display: flex;
}

footer>div>div {
    height: 100%;
    width: 33.333%;
    justify-content: center;
    text-align: center;
}

main {
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333c9;
}

.menu > li {
    float: left;
}

.menu > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menu > li a:hover {
    background-color: #111111;
}

.main__content {
    overflow-y: auto;
    height: 440px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content>div {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.content>div>strong {
    margin-right: 12px;
}