<main>
    <div class="logo">
        <img src="https://i.annihil.us/u/prod/misc/marvel.svg" title="https://i.annihil.us/u/prod/misc/marvel.svg" alt="https://i.annihil.us/u/prod/misc/marvel.svg">
    </div>
    <div class="search">
        <div>
            <input type="text" ng-model="search" placeholder="Escribe el personaje y luego enter" ng-keypress="searchCharacter($event)"
            />
        </div>
    </div>
</main>
<div class="footer">
    <label>2018 - Todos los derechos reservados</label>
</div>