<main>
    <div class="target" ng-repeat="target in data.results">
        <div class="flip">
            <div class="flip-1">
                <img ng-src="{{target.thumbnail.path}}.{{target.thumbnail.extension}}" />
                <strong>{{target.name}}</strong>
                <label>{{target.id}}</label>
            </div>
            <div class="flip-2">
                <button>Favoritos</button>
                <strong>Comics Relacioandos</strong>
                <div class="related" ng-repeat="related in target.comics.items">
                    <label>{{related.name}}</label>
                </div>

            </div>
        </div>
    </div>
</main>