<main>
    <div class="content">
        <div class="target" ng-repeat="target in data.results">
            <div class="flip">
                <div class="flip-1">
                    <div class="picture">
                        <img ng-src="{{target.thumbnail.path}}.{{target.thumbnail.extension}}" />
                    </div>
                    <div class="name">
                        <strong>{{target.name}}</strong>
                    </div>
                </div>
                <div class="flip-2">
                    <strong>Comics relacionados</strong>
                    <div class="content">
                        <div class="related" ng-repeat="related in target.comics.items">
                            <label>{{related.name}}</label>
                        </div>
                    </div>
                    <div class="moreinfo" ng-click="moreInfo(target)">
                        <label>ver +</label>
                    </div>
                    <input type="checkbox" name="mycheckbox" ng-model="target.checked" ng-click="checkedFun(target)" ng-disabled="checkedCount >= 3 && !target.checked"
                        ng-checked='target.checked' />
                </div>
            </div>
        </div>
    </div>
    <div class="pag">
        <div class="numpag">u</div>
        <div class="numpag" ng-repeat="dpag in allpag">
            <div ng-click="otherPag(dpag)">{{dpag.id}}</div>
        </div>
        <div class="numpag">d</div>
        <div class="numpag allAdd" ng-click="checkedFavoritesAdd()" ng-if="checkedCount === 3">+</div>
    </div>
</main>