list-component {
    main {
        width: 80%;
        height: calc(100% - 85px);
        position: absolute;
        left: 0;
        background-color: rgba(193, 193, 193, 0.22);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        overflow: auto;
        .target {
            width: 338px;
            height: 290px;
            border: 1px solid #ccc;
            margin: 5px;
            background-color: #fff;
            .flip {
                width: 100%;
                height: 100%;
                position: relative;
                transition: all 1s ease;
                transform: perspective(600px);
                transform-origin: 100% 50%;
                transform-style: preserve-3d;
                &:hover {
                    transform: perspective(600px) rotateY(-180deg) translateX(100%);
                }
                .flip-1,
                .flip-2 {
                    position: absolute;
                    backface-visibility: hidden;
                    width: 100%;
                    height: 100%;
                }
                .flip-2 {
                    transform: rotateY(-180deg);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: stretch;
                    .related {
                        border-bottom: 1px solid #dadada;
                        width: 47%;
                        font-size: 14px;
                        margin: 0 3px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        overflow: auto;
                    }
                }
            }
            img {
                width: 150px;
                border-radius: 50%;
            }
        }
    }
}