favorites-component main {
  position: absolute;
  right: 0;
  width: calc(20% - 20px);
  height: calc(100% - 90px);
  background-color: rgba(193, 193, 193, 0.39);
  padding: 10px; }
  favorites-component main > .content {
    width: 100%;
    height: calc(100% - 78px);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    overflow: auto; }
    favorites-component main > .content > .target {
      width: 87%;
      height: 50%;
      margin: 10px auto; }
      favorites-component main > .content > .target .picture {
        height: calc(100% - 30px);
        width: 100%; }
        favorites-component main > .content > .target .picture img {
          width: 100%;
          height: 100%; }
      favorites-component main > .content > .target .name {
        width: 100%;
        height: 30px; }
