favorites-component {
    main {
        position: absolute;
        right: 0;
        width: calc(20% - 20px);
        height: calc(100% - 90px);
        background-color: rgba(193, 193, 193, 0.39);
        padding: 10px;
        >.content {
            width: 100%;
            height: calc(100% - 78px);
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: stretch;
            overflow: auto;
            >.target {
                width: 87%;
                height: 50%;
                margin: 10px auto;
                .picture {
                    height: calc(100% - 30px);
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .name {
                    width: 100%;
                    height: 30px;
                }
            }
        }
    }
}